$color-primary: #f03268;
$color-white: #fff;
$color-lightgray: #e0e0e0;
$color-lightgray1: #fafafa;
$color-dark: #4f5564;
$color-red: #e53935;
$color-blue: #2196f3;
$color-darkblue: #0a2d4d;
$color-pink-400: #f50057;
$color-gray: #9e9e9e;
