body {
  font-size: 100%;
  background-color: #fafafa;
  .bottom-nav {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 850px) {
      display: none;
    }
  }
  &.no--bottom-nav {
    .bottom-nav {
      display: none;
    }
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-dark;
}

label,
input,
button,
a {
  transition: all 0.3s;
  touch-action: manipulation;
}

button {
  cursor: pointer;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $color-primary;
  color: $color-white;
  font-size: 0.8rem;
}

.bg-light {
  background: transparent;
}

.section {
  padding: 0 2px;
  h2 {
    font-size: 1rem;
    padding: 20px;
  }
}

.list-item {
  width: 100%;
  h3 {
    font-weight: normal;
  }
  &.highlight {
    h3 {
      font-weight: bold;
    }
  }
  &--middle {
    width: 100%;
  }
  &--middle-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.container {
  width: 100%;
  padding: 75px 20px 20px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-pink-400;
}
